:root{
    --colorone: #351c75;
    --coloroneAccent: 2;
    --coloronecomp: white;
    --colortwo: white;
    --colortwocomp: black;
}

.invert{
    filter: invert();
}

.hidden{
    display: none;
}

body{
    width:100%;
    margin-left: 0;
    font-family: 'Assistant', sans-serif;
    overflow: hidden;
    background-color: var(--colortwo);
    color: var(--colortwocomp);
}

nav{
    width: 100%;
    border-bottom: 3px solid var(--colorone);
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    position: absolute;
    top: 5px;
    background-color: var(--colortwo);
}

nav img{
    height: 40px;
    margin: 10px 0 0 10px;
    vertical-align: text-bottom;
    display: inline;
}

#NavButtons{
    float: right;
    margin-right: 30px;
}

nav h1{
    font-weight: bold;
    font-size: 40px;
    display: inline;
    padding-top: -40px;
    margin-left: 10px;
}

nav a{
    font-size: 30px;
    display: inline;
    padding-top: -40px;
    margin-right: -10px;
    margin-left: 5px;
}

#Calendar{
    border-right:  3px solid var(--colorone);
    padding: 0 10px;
}

#ListNav{
    color: var(--coloronecomp); 
    width: 180px;
    background-color: var(--colorone);
    padding: 30px;
    padding-top:90px;
    height: 100vh;
    position: absolute;
}

#ListNav{
    font-size: 30px;
    line-height: 80%;
}

#ListNav .Active{
    font-weight: 1000;
}

#ListOfLists p{
    background-color: var(--colorone);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#ListOfLists p:hover{
    filter: brightness(var(--coloroneAccent));
}

#RightStuff{
    color: var(--coloronecomp); 
    width: 300px;
    background-color: var(--colorone);
    padding: 30px;
    padding-top: 70px;
    height: 100vh;

    position: absolute;
    right: 0;

}

#RightToggle{
    height:50px;
    width: 50px;
    padding: 5px;
    border-radius: 30px 0 0 0;
    position: absolute;
    bottom:0;
    right: 0;
    background-color: var(--colorone);
}

#RightToggle img{
    position: relative;
    bottom: -7px;
    right: -7px;
    height:40px;
}

#RightToggle:hover{
    filter: brightness(var(--coloroneAccent))
}

#NextTask{
    margin-top: 0;
}

#NextTaskTitle{
    font-size: 25px;
}

#NextTaskDesc{
    font-size: 20px;
    margin-left: 30px;
}

#NextTask img{
    height: 20px;
    vertical-align: baseline;
    margin-right: 10px;
}

#claim{
    position: relative;
    top: 75px;
}

#Notes{
    position: relative;
    top: 85px;
}

#line{
    filter: brightness(var(--coloroneAccent)) saturate(.5);
    border-top: 5px solid var(--colorone);
    position: relative;
    top: 90px;
}

#claim h1{
    margin-bottom: 0;
}

#claim button{
    border: 5px double var(--colorone);
    border-style: double;
    background-color: var(--coloronecomp);
    color: var(--colorone);
    font-weight: 800;
    margin-left: -1px;
}

#claim button:hover{
    cursor: pointer;
}

#Main{
    padding-top: 90px;
    padding-left: 40px;
    margin-left: 260px;
    overflow-y: scroll;
    width: calc(100vw - 700px);
    padding-right: 45px;
    height: 100vh;
    padding-bottom: 120px;
    overflow-x: hidden;
}

#tToday{
    margin-bottom: 0;
}

.allclear{
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
}


/*Task styles*/
.task img{
    height: 17px;
    margin-right: 10px;
}

.tHeading{
    font-size: 25px;
}

.tDesc{
    margin-left: 31px;
}

.tSub{
    background-color: lightgray;
    padding: 0 5px;
    border-radius: 40px;
}

.tTime{
    float:right;
    text-align: right;
    margin-right: 60px;
    margin-top: 5px;
}

.tUrgent{
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 0 7.5px;
    border-radius: 100%;
    margin-left: 5px;
}

.red img{
    filter: invert(19%) sepia(100%) saturate(7447%) hue-rotate(359deg) brightness(96%) contrast(113%);
}

.red .tSub{
    background-color: red;
}

#end{
    color: var(--colortwo);
}